[2020-02-05 12:20] juanmanavarro opened #1 "usePersist not found"
`export 'usePersist' was not found in 'mobx-persist-store'`

Thanks.

[2020-02-05 12:30] quarrant commented on #1
Thank you! It's my mistake. `usePersist` had an architecture error and i deleted it from export, but i forget to update Readme.

Instead of `userPersist` you can use `@persistence` decorator.

[code]

[2020-02-06 12:13] quarrant commented on #1
fixed

[2020-02-06 12:13] #1 closed

[2020-03-10 04:52] selvaAiKnow opened #2 "Without decorators"
Hi,
Can you give a guideline on how to use it without decorators? That will helpful

Thanks

[2020-03-11 09:54] quarrant commented on #2
Hello!

It's a simple

[code]

[2020-03-11 13:19] selvaAiKnow commented on #2
Thanks for your time in responding.  I really appreciate that.

[2020-03-11 13:19] #2 closed

[2020-06-15 04:15] selvaAiKnow opened #4 "Cannot use import statement outside a module"
Hi,
When am running the npm test am getting error like this

 ({"Object.<anonymous>":function(module,exports,require,__dirname,__filename,global,jest){import StorageAdapter from './StorageAdapter';
                                                                                             ^^^^^^

    SyntaxError: Cannot use import statement outside a module

      1 | import {observable, action,

[2020-06-15 07:33] quarrant commented on #4
Are you using `skipLibCheck` option?

[2020-06-15 07:43] selvaAiKnow commented on #4
Are you asking in unit test code right?

We are not using in unit test place.

[2020-06-15 07:51] quarrant commented on #4
I adding a commonjs build. Version 0.4.10

[2020-06-15 08:24] selvaAiKnow commented on #4
Can you please explain?

[2020-06-15 08:27] quarrant commented on #4
Yes, update version

[2020-06-15 09:10] selvaAiKnow commented on #4
Thank you, It's working

[2020-06-15 09:10] #4 closed

[2020-08-04 14:26] Danscap opened #6 "How to actually use mobx-persist-store?"
Specifically the usage without decorators.

[code]

Questions:

1`)decorator` function is a typo and should be `decorate`, correct?

2)adding observables means we have to add to the properties array in the persistence function?
2.5) `counter: number = 0` .. could this be written as `counter = 0` ?

3)how to actually write and read from the store? How to use the function?

In normal mobx, we could

[2020-08-05 11:50] quarrant commented on #6
1. Yes, you're right. It's mistake

2. Yes, if you want to persist this properties

2.5 Yes, type will be inferred (Hello from typescript)

3. persistence creates a reaction to changes in observable properties. (https://github.com/quarrant/mobx-persist-store/blob/master/src/persistenceDecorator.ts#L55) And the StorageAdapter read/write any changes through your functions. (https://github.com/quarra

[2020-12-15 16:15] DmitryTevtonsky opened #9 "MobX 6.0.x"
I appreciate your library.

How i can implement you library with mobx 6.0.x?

There some new features.
The decorate API has been removed and now it implement with makeObservable and makeAutoObservable.
[changelog-mobx](https://changelogs.xyz/mobx)

Thank you.

[2020-12-18 15:04] quarrant commented on #9
Good question! I added support mobx6. Try to use version 0.5.13 like https://github.com/quarrant/mobx-persist-store#with-mobx-6

[2021-01-11 10:42] rendomnet opened #12 "Cant persist more than one store"
I have several stores made by this example.

And only one store persist. Other-ones don't even shows in LocalStorage.
They call same readStore, writeStore functions.

They have different names and working but do not persist.

`
import { makeAutoObservable } from 'mobx';
import { persistence, useClear, useDisposers, isSynchronized, StorageAdapter } from 'mobx-persist-store';

function readStore(nam

[2021-01-12 13:20] quarrant commented on #12
The name property must be unique
[code]

example - https://codesandbox.io/s/fervent-sound-m7ie5?file=/src/App.tsx

[2021-02-07 18:55] MaRaSu commented on #9
Mobx-persist-store indeed seems to be working well with mobx 6.1.4, however when installing it you have to give --legacy-peer-deps to npm to override peerDependencies --> worth fixing perhaps?

I have a setup with few mobx stores, combined in a RootStore (which itself is not observable), when using mobx-persist-store persistence method inside my RootStore's constructor mobx (in most strict mode co

[2021-02-08 11:31] deadcoder0904 commented on #9
@quarrant would love for you to fix peer deps as well & release a new version. i can't install `mobx-persist-store` as it throws this error:

[code]

[2021-02-08 14:16] quarrant commented on #9
@MaRaSu can you show me your code ?

[2021-02-08 20:49] MaRaSu commented on #9
@quarrant, sure, this is what RootStore looks like where I had to add that extra runInAction:

[code]

[2021-02-09 07:08] deadcoder0904 opened #14 "Usage with TypeScript?"
I tried converting the Mobx 6 example to TypeScript.

I modified 2 lines (one in `readStore` & another in `writeStore` which you can compare with https://github.com/quarrant/mobx-persist-store#with-mobx-6) to solve TS errors but that caused other 2 errors:

[code]

I am getting an error on `read` & `write` properties in `persistence`.

Here's the error on `read`:

Type '(name: string) => Promise<u

[2021-02-09 07:13] deadcoder0904 commented on #14
I solved it for `readStore` but do check if I'm correct:

[code]

But can't get it right for `writeStore`.

Type '(name: string, content: string) => Promise<unknown>' is not assignable to type '(name: string, value: string) => Promise<Error | undefined>'.
  Type 'Promise<unknown>' is not assignable to type 'Promise<Error | undefined>'.
    Type 'unknown' is not assignable to type 'Error | undefine

[2021-02-10 07:37] deadcoder0904 commented on #14
I think I solved it but lmk if it's correct or not as I'm a TS noob but I see no errors now:

[code]

[2021-02-10 07:38] deadcoder0904 commented on #14
I think I solved it but lmk if it's correct or not as I'm a TS noob but I see no errors now:

[code]

[2021-02-10 08:28] deadcoder0904 commented on #14
I see an error in the DevTools Console now at `JSON.parse` even though it is `string` already:

    at JSON.parse (<anonymous>)
    at Object.JSONParse (chrome-extension://debbgbhhohmjgdmndiakoejhjdggnigc/popup.js:41305:20)
    at chrome-extension://debbgbhhohmjgdmndiakoejhjdggnigc/popup.js:41012:47

Not sure how to solve it?

[2021-02-10 08:46] deadcoder0904 commented on #14
This solved it but it was too much trouble:

[code]

I am unable to get the state stored in the local storage even though I point now to the `persistence` object.

[2021-02-10 10:29] quarrant commented on #14
it will be correct

[code]

[2021-02-10 11:33] deadcoder0904 commented on #14
Nope, it gives error inside `persistence` in VSCode.

![mobx-persist-store](https://user-images.githubusercontent.com/16436270/107504126-dbc5d380-6bc0-11eb-8500-3b906fb58898.png)

On `read`, it gives:

Type '(name: string) => Promise<unknown>' is not assignable to type '(name: string) => Promise<string | undefined>'.
  Type 'Promise<unknown>' is not assignable to type 'Promise<string | undefined>'

[2021-02-10 11:53] quarrant commented on #14
check this example https://codesandbox.io/s/fervent-sound-m7ie5?file=/src/App.tsx

[2021-02-10 13:16] deadcoder0904 commented on #14
So your example is correct but I have a `context.ts` file with:

[code]

Now I have to convert this to use `PersistState` & simply replacing `new FrameItStore()` with `PersistState` isn't working but I'll figure it out :)

Thank you for all the help & the awesome library 🎉

[2021-02-10 13:16] #14 closed

[2021-02-12 10:12] deadcoder0904 commented on #14
@quarrant if you have any idea of how to provide `PersistState` inside context, then please let me know. Check the above code-block. I have to only change `FrameItContext` to use `PersistState` instead of `new FrameItStore()`.

Currently, it keeps on giving `Uncaught TypeError: Cannot read property 'frameitStore' of undefined` when I converted `PersistState` into a function & called it like `store

[2021-02-13 09:39] quarrant commented on #14
@deadcoder0904

I don't understand why you are trying to use them together. This is a weird way to use mobx....

[2021-02-13 11:32] deadcoder0904 commented on #14
@quarrant I just wanted to use Mobx Store in functional components & a MobX maintainer said you can use a hook without having to use a Provider. So that's why I changed it to this. Earlier, I was using a Provider.

But what's the problem in that? It worked fine & Mobx maintainer recommended it to me because of some reason that I don't remember & I can't find a link to it.

Can we not get this to w

[2021-02-13 11:47] deadcoder0904 commented on #14
The weird part is the counter example works in Codesandbox → https://codesandbox.io/s/mobx-persist-store-4l1dm

So Idk what's wrong with my code which is scarily similar 😂

[2021-02-15 07:45] deadcoder0904 commented on #14
I think it isn't working because I am using it in Chrome Extension where I have to use `chrome.storage.local.set()` API instead of `localStorage.setItem()` API.

But I can't get `write` function to get called. I mean I do `console.log` in `read` function & it works but `write` doesn't get called.

[code]

Is there anything wrong with it? @quarrant

This makes the `read` function to return empty `{

[2021-02-15 10:36] deadcoder0904 opened #15 "Access latest saved value from LocalStorage?"
I have a simple Counter Store [here](https://codesandbox.io/s/mobx-persist-store-4l1dm). I have used `isSynchronized` but it doesn't access the latest value. It again starts the counter from `0`.

# App.tsx

[code]

# store.ts

[code]

How do I show the latest value when the app loads?

[2021-02-15 11:11] deadcoder0904 commented on #14
Calling `writeInStorage` directly calls the above `write` function but it doesn't call when I put it inside `persistence` so I'm pretty sure the error lies here somewhere as it doesn't set anything in LocalStorage so it can't get anything from LocalStorage.

[code]

Would love to know if there's anyway to debug `write`?

[2021-02-15 12:52] quarrant commented on #15
Yep. it's mistake in docs. Remove `JSON.stringify` from `write` function

[2021-02-15 16:58] codeBelt opened #17 "Consider renaming useClear and useDisposers to distinguish from React hook"
Great library!

I am a React/MobX user and there is a naming convention where React Hooks start with `use`. Please consider renaming `useClear` and `useDisposers` to distinguish from React hook.

The MobX team has done this with `useStaticRendering` and renamed it to `enableStaticRendering`.

https://github.com/mobxjs/mobx-react-lite/pull/302

Some suggests:
- `useClear` -> `clearPersist`
- `useDi

[2021-02-15 21:29] quarrant commented on #17
@codeBelt Thank you! Good point! I thought about it

[2021-02-16 06:16] deadcoder0904 commented on #15
Works fine now :)

[2021-02-16 07:18] deadcoder0904 opened #19 "Typo in README"
⌃F `persistDespose`. Should be `persistDispose` instead :)

[2021-02-16 10:25] deadcoder0904 opened #20 "Doesnt work with `chrome.storage.local.get` API"
I made a new little Chrome Extension to see if this library works with Chrome extension & it does work with LocalStorage.

However, it doesn't work with `chrome.storage.local.get` API as the return type of `read` in `StorageAdapter` is:

[code]

While `chrome.storage.local.get` returns:

[code]

I even tried resolving the promise by using `JSON.stringify` but then it gets issue #15 where it always

[2021-02-16 10:27] deadcoder0904 commented on #20
This is where the problem is:

https://github.com/quarrant/mobx-persist-store/blob/c99f4e09050257fece871d7f01952250671ae9a8/src/types.ts#L13-L16

And they should be changed to:

[code]

I'm a TS noob so do double-check :)

[2021-02-16 16:05] quarrant commented on #20
No, types in `mobx-persist-store/src/types.ts` is correct

[2021-02-16 19:23] #15 closed

[2021-02-16 19:38] #17 closed

[2021-02-16 19:46] quarrant commented on #20
@deadcoder0904 If you want to use chrome.storage, then you should adapt it for StorageAdapter, and not edit the typing

[2021-02-16 19:47] #19 closed

[2021-02-17 07:18] deadcoder0904 commented on #20
Well, here's my code:

[code]

If I change `read` & `write` function, then it shows red-squiggly lines under `read` & `write` in `StorageAdapter`.

Currently with the above code, it shows red-squiggly lines under `read` with the following error:

  Type 'Promise<{ [key: string]: any; }>' is not assignable to type 'Promise<string | undefined>'.
    Type '{ [key: string]: any; }' is not assignable t

[2021-02-17 09:18] MaRaSu opened #21 "Fix needed to readme to readStore"
I also made earlier a mistake of doing JSON parse & stringify in my customer StorageAdapter read & write function before noticing it a few days ago when I switched to Typescript and got the warnings...

#16 already fixed the readme for write function. Should do the same for the read function?

BTW great little library!

[2021-02-17 15:02] quarrant commented on #20
Read the docs of chrome.storage. Function get returns an object where key as name of storage. Try it:
[code]

[2021-02-17 15:04] #12 closed

[2021-02-17 15:07] quarrant commented on #21
@MaRaSu no, the mistake was only in read function

[2021-02-17 20:08] MaRaSu commented on #21
@quarrant we probably mean the same thing...I just wanted to say that readme examples should be corrected also for the readStore function, to complement the fix that you did in issue #16,

[2021-02-18 08:31] deadcoder0904 commented on #20
As always, it worked 🎉

Would appreciate if you can take a look at https://github.com/quarrant/mobx-persist-store/issues/14#issuecomment-779150211 :)

[2021-02-18 08:31] #20 closed

[2021-02-18 20:22] quarrant commented on #21
yes, I'll fix it.

Thank you! =)

[2021-02-18 20:23] #21 closed

[2021-02-18 20:26] #6 closed

[2021-02-18 20:30] quarrant commented on #9
@MaRaSu does the problem still exist? After fix #21

[2021-03-01 23:26] frangeris opened #23 "Writing outside Mobx scope do not rehydrate values from storage"
Thanks for the lib, currently the only persistence that have support for Mobx 6.

I have a scenario where I need to write to local storage outside of the store due I don't have access via classes, this scenario is "receiving push notifications in background":

[code]

Then inside the view that I list my notifications:

[code]

The store:
[code]

And creating the instance
[code]

Other way works fi

[2021-03-04 15:31] codeBelt opened #25 "Add a `startPersist` to restart after `stopPersist` is called?"
I don't have a use case right now but I was thinking if you can `stopPersist` it might be nice if you could call `startPersist`. This will allow you to disable and enable saving the data. What do you think?

[2021-03-09 21:09] quarrant commented on #25
@codeBelt something like this, see the PR

[2021-03-09 22:16] codeBelt commented on #25
@quarrant I don't see it working. I created a example with your modified files:
https://codesandbox.io/s/mobx-persist-store-with-mobx-6-startpersist-33mwc?file=/src/stores/User.store.ts

[2021-03-10 07:11] quarrant commented on #25
Ups =)

[2021-03-10 14:02] quarrant commented on #25
it works now

[2021-03-10 15:37] codeBelt commented on #25
It's still not working for me. I updated my example with the file change you made but I don't know how it works for you?

![animation](https://user-images.githubusercontent.com/2893563/110654883-27e64280-8184-11eb-8d6a-8b4bf23a9812.gif)

[2021-03-11 12:57] quarrant commented on #25
@codeBelt fix it

[2021-03-11 13:02] codeBelt commented on #25
Ok, I updated my example and it works now!

[2021-03-11 13:39] #25 closed

[2021-03-13 21:26] quarrant commented on #23
Thank you!

The `rehydrate` only waiting when finished synchronization with storage and not start anything.

I think you needed real `force sync` function, but the library doesn't have it

And why you couldn't push data to store?

[2021-03-15 14:39] MaRaSu opened #35 "Persisting JS Maps not supported"
MobX supports Javascript Maps and especially when lacking support for proxies (like in React Native without Hermes engine) there are some reasons to use Maps instead of plain objects.

However Maps are not supported by JSON.stringify. There are a number of workarounds for that. But none of these work with mobx-persist-store since JSON.parse & stringify are hidden inside the library instead of bein

[2021-03-15 16:05] quarrant commented on #35
mobx-persist-store works with Maps. Can you show your code?

[2021-03-15 18:41] MaRaSu commented on #35
@quarrant indeed the code actually seems to be supporting it. I was too quick to comment it relying just on JSON.stringify.

Anyhow persisting Maps was not working for me so I already switched to plain objects with some tricks to make them as observable as Maps. Come to think of this problem I do have a unusual setup as I'm using expo for react native and mobx babel config for class properties has

[2021-03-15 18:42] #35 closed

[2021-03-16 09:16] quarrant opened #36 "mobx-persist-store stable release"
Supports only mobx v6

**API**
- [ ] makeAutoPersist
- [ ] isSynchronized
- [ ] waitSynchronization
- [ ] forceSynchronize
- [ ] startPersist
- [ ] stopPersist
- [ ] clearStorage
- [ ] configure

**New**
- skip non observable properties for economy memory
- set global adapter for all stores (also can use local adapter)

[2021-03-16 09:17] quarrant commented on #36
@codeBelt FYI

[2021-03-18 14:15] codeBelt commented on #36
@quarrant is this a todo list for a v1.0.0 release?

[2021-03-18 14:17] quarrant commented on #36
@codeBelt yep

[2021-03-20 14:22] codeBelt commented on #36
@quarrant can you write more information on what these are:

- makeAutoPersist
- waitSynchronization
- forceSynchronize
- skip non observable properties for economy memory
- set global adapter for all stores (also can use local adapter)

[2021-03-22 14:24] quarrant commented on #36
@codeBelt
- makeAutoPersist (like makeAutoObservable =)) - configure persist store with params: name, properties (uses annotations), storage (without StorageAdapter class) and reactionOptions
- waitSynchronization - promise that waiting when all processes in makeAutoPersist will be done
- forceSynchronize - trigger to load storage into store (issue #23)
- skipNonObservable - if set `true` non obse

[2021-03-29 00:47] codeBelt commented on #36
@quarrant Here is what I have so far. I had a little help from a friend on naming.

- `makeAutoPersistable` (todo by @quarrant)
- `makePersistable`

With Required Options:

[code]

With All Options:

[code]
### API

- `clearPersistedStore`
- `hydrateStore`
- `isHydrated`
- `isPersisting`
- `pausePersisting`
- `startPersisting`
- `stopPersisting`

### Configuration
[code]

I would like to write tes

[2021-04-01 15:54] quarrant commented on #36
@codeBelt can we talk in telegram?

https://t.me/quarrant

[2021-04-01 16:03] codeBelt commented on #36
@quarrant I sent you a LinkIn request

[2021-04-02 16:59] frangeris commented on #23
@quarrant sorry for delay to answer,

Answering your question, I can push to the store, I tried, but the data is not reflected, the issue why cant push directly is due that I dont react context handleling push notifications in background, that's the reason why I wrote to the local storage directly instead, so when the user opens again the app, so can see the notifications saved when the app was in

[2021-04-07 16:56] idanlevi1 opened #38 "Need to wrap app in Provider in mobx 6?"
I moved to mobx 6v & mobx-react 7v
and I want to ask if I need to wrap root node in Provider like before:
[code]

for example

[2021-04-07 17:03] codeBelt commented on #38
In relation to `mobx-persist-store` it doesn't matter if you use a `Provider` wrapper or not. Are you having issues with data persisting?

[2021-04-07 17:58] idanlevi1 commented on #38
Do you think the question should be to `mobx` github issues?

[2021-04-07 18:03] idanlevi1 opened #39 "What the best practice to check if all store local storage data is hydrate?"
I use `isSynchronized` to know if the persist data are hydrate
I have a multi-stores and I don't see any example or information about `isSynchronized` in multiple stores

[code]

I used:

[2021-04-07 18:19] codeBelt commented on #38
Yes, I think it is a `mobx` github question but check out my MobX example for some ideas https://github.com/codeBelt/mobx-local-global-stores

[2021-04-08 23:27] codeBelt commented on #38
@quarrant this issue can be closed

[2021-04-15 21:23] quarrant commented on #39
you are right `isSynchronized` not working with multiple stores, but your example is correctly

[2021-04-15 21:24] #38 closed

[2021-04-18 07:59] morelgarisi opened #40 "problem with saving refs"
after mooving to this package from mobx- persist to get support for mobx 6
keep getting this error:
![Screen Shot 2021-04-13 at 17 35 38](https://user-images.githubusercontent.com/18554479/114570734-bfa4e800-9c7e-11eb-9627-e3419b6cb3c0.png)
my persisiance func:
export const persistStore = (target, properties, persistName) => {

    return persistence({
        name: persistName,
        properties

[2021-04-25 13:14] idanlevi1 commented on #39
@quarrant
What about one synchronic function that returns when all list of stores are hydrate? it can save a lot of renders

[2021-04-25 21:02] codeBelt commented on #36
@quarrant I think I am finished with all my code changes and update the README. https://github.com/codeBelt/mobx-persist-store/tree/MobxStorePersist#readme

The only thing I will need to do is update the example demo.

[2021-04-28 00:46] codeBelt commented on #36
@quarrant Do want to merge my code and get a Release Candidate `1.0.0-rc.0` tag out there? Then I can start woking on the example demo and have people start playing with it.

- https://semver.npmjs.com/

[2021-05-05 11:50] quarrant commented on #36
done

[2021-05-07 13:30] BornaGajic opened #41 "makePersistable is not saving an ES6 Map to the local storage correctly. Possible solution in the comment."
Hi!
I'm using **Typescript** and ran into a problem where `makePersistable` wouldn't save a `Map` properly to local storage e.g. content would be empty - `{}`.
With a little digging, I found that in the `StorageAdapter.js` content is being stringified without the use of the `replacer` function for `JSON.strigify` method which led to the problem.

Consider a possible working solution for JS:

![ima

[2021-05-07 13:38] codeBelt commented on #41
Thanks for the feedback. I will have to look at this later but try setting `stringify: false,` to see if that fixes the issue for now.

https://github.com/quarrant/mobx-persist-store/tree/issue-36/stable-release#storageoptions--reactionoptions

Also here is the example I am working on for v1.0 of mobx-persist-store:
https://codesandbox.io/s/mobx-persist-store-version-1-f852w

[2021-05-07 13:55] codeBelt commented on #41
For now you can create your own storage adapter to handle your situation:

[code]

I found this article https://2ality.com/2015/08/es6-map-json.html

[2021-05-07 14:19] codeBelt commented on #41
@BornaGajic I am curious what you come up with for your custom storage adapter to solve this issue. If you could, create a codesandbox example and share here.

[2021-05-07 14:30] codeBelt commented on #40
@morelgarisi

- We are working on v1.0
https://github.com/quarrant/mobx-persist-store/tree/issue-36/stable-release
- Check out the example for v1.0
https://codesandbox.io/s/mobx-persist-store-version-1-f852w?file=/src/stores/User.store.ts

Let me know if how this new version works for you

[2021-05-07 20:31] codeBelt commented on #41
You need to update your `getItem` to hand converting the data back into a Map object:

[code]

The code is ugly but hopefully you can see how to do it.

[2021-05-07 23:27] BornaGajic commented on #41
Thanks @codeBelt
I've managed to solve my second issue.

Here's the final codesandbox:
https://codesandbox.io/embed/mobx-persist-store-map-bug-forked-bfk1q?fontsize=14&hidenavigation=1&theme=dark

Not the best implementation but I'll leave it for now like this.
Currently, my code depends on `modelMap` which storages classNames and new instances of that class. I'm checking if there's a class with t

[2021-05-08 23:24] #41 closed

[2021-05-09 06:12] gHashTag opened #42 "The "mobx-persist-store" "module does not have an exported" persistence ".ts element"
I am trying to connect `mobx-persist-store` to a project, but I get an error:

The "mobx-persist-store" "module does not have an exported" persistence ".ts element

 "mobx-persist-store": "^1.0.0-rc.0"

[code]

![Simulator Screen Shot - iPhone 12 - 2021-05-09 at 11 27 26](https://user-images.githubusercontent.com/6774813/117562603-9a5a9c80-b0b9-11eb-95bc-9dcfe24d1cef.png)

What is the problem?

[2021-05-09 06:52] gHashTag commented on #42
Installing this version solved the problem.
 "mobx-persist-store": "v0.5.30",

[2021-05-09 06:52] #42 closed

[2021-05-09 07:54] gHashTag opened #43 "Why is my nested model History not being saved?"
Why is my nested model  History not being saved?

[code]

[2021-05-12 16:26] codeBelt commented on #36
@quarrant what do you think of new code: https://codesandbox.io/s/mobx-persist-store-version-1-f852w?file=/src/stores/User.store.ts&theme=dark

Do you have anyone else to give us feedback on the new changes?

[2021-05-12 17:20] codeBelt commented on #42
@gHashTag , any chance you want to try out `1.0.0-rc.0` and give us feedback on what you like and don't like?

- https://codesandbox.io/s/mobx-persist-store-version-1-f852w?file=/src/stores/User.store.ts&theme=dark
- https://github.com/quarrant/mobx-persist-store/tree/issue-36/stable-release

[2021-05-13 12:41] quarrant commented on #43
I couldn't reproduce this bug. https://codesandbox.io/s/broken-cherry-2onp8?file=/src/App.tsx

[2021-05-16 05:39] gHashTag commented on #43
@quarrant magically everything worked for me by itself in a day. Sorry for disturbing.

[2021-05-16 05:39] #43 closed

[2021-05-18 15:26] codeBelt commented on #36
@quarrant Have you tried out `1.0.0-rc.0`? Is it ready to be released as `1.0`?

[2021-05-20 10:03] quarrant commented on #36
@codeBelt yep! It's a great work! let's go =)

[2021-05-20 10:06] #36 closed

[2021-05-20 14:28] zr9 opened #47 "PersistStore is not return promise so it not possible to wait it"
Currently `PersistStore` is not return Promise so it not possible to wait for `makePersistable`.
In that case state will be updated once it loaded from storage and it cause unneeded render.
Can be avoided if we return `this.init()` from `makePersistable`.
I can make pull request if help

[2021-05-20 14:33] codeBelt commented on #47
Sure, open to you making a pull request. Could you create a codesandbox example showing the issue? I am not 100% clear on the issue.

[2021-05-20 14:36] codeBelt commented on #47
@zr9 there is [isHydrated](https://github.com/quarrant/mobx-persist-store#ishydrated) to let you know when the store has been updated.

[2021-05-20 14:38] zr9 commented on #47
@codeBelt
Sure, will update.
Yup for update yes, but for initialization nope.
If you have loader component which initialize store and make it persistable.
In that case when you make it persistable it will load previous state if exist, then update state. That load/update will trigger render

[2021-05-20 16:15] zr9 commented on #47
@codeBelt
Here we go [Example](https://codesandbox.io/s/mobx-render-on-load-bug-b866m?file=/src/index.js)

[2021-05-20 16:44] codeBelt commented on #47
I am not sure making `makePersistable` a Promise will work for what you are trying to do. I could be wrong and open to see a PR for it. Are you thinking something like this:

[code]

Will this work fo you:

[code]
https://codesandbox.io/s/mobx-render-on-load-bug-forked-y2te2?file=/src/index.js

[2021-05-23 23:33] rafaeldsousa commented on #47
@zr9 have you created a PR for this one ? I'm also after an await for `makePersistable`.
@codeBelt with mobx-persist, we're able to create the store and have a `then`.
E.g.

[code]

Would your suggested implementation above do the same as this ?

[2021-05-24 01:42] codeBelt commented on #47
@rafaeldsousa PR here: https://github.com/quarrant/mobx-persist-store/pull/49

[2021-05-24 01:58] codeBelt commented on #47
@zr9  make sure you call [stopPersisting](https://github.com/quarrant/mobx-persist-store#stoppersisting) so `makePersistable` doesn't continue holding on to the store that was passed in.

[code]

[2021-05-24 17:05] #9 closed

[2021-05-24 17:06] #23 closed

[2021-05-24 17:06] #39 closed

[2021-05-24 17:06] #40 closed

[2021-05-24 17:06] #47 closed

[2021-05-25 07:56] sharon-laguna opened #50 "[Bug] React Native - ReferenceError: Storage is not defined"
Hi,
In v1.0.1 I'm getting an unhandled exception when trying to use makePersistable.
It seems like there's a missing import for Storage in isStorageControllerLike ?

`Possible Unhandled Promise Rejection (id: 0):
ReferenceError: Storage is not defined
ReferenceError: Storage is not defined
    at Object.exports.isStorageControllerLike`

[2021-05-25 12:24] deadcoder0904 opened #51 "[Demo]: Store Hydrated is always Yes"
I am checking out the demo & it's probably the best demo I've seen of any library with an explanation in the demo itself. You might wanna use [Stackblitz](https://stackblitz.com) as it's faster than CodeSandbox.

I am confused as to why **Store Hydrated** is always **Yes**? I checked the code & there's a ternary operator but it never turns to **No**. Why is that?

[2021-05-25 12:54] codeBelt commented on #50
I don't see that issue myself. Can you recreate it in https://codesandbox.io/ and paste the example here.

[2021-05-25 13:21] codeBelt commented on #51
If you do `console.log(localStore.isHydrated);` in the demo you will see it will be `false` and then `true`. It happens very fast.

I created a new demo that delays the `getItem` and now you can see it changing.

https://codesandbox.io/s/mobx-persist-store-customized-storage-go767?file=/src/stores/User.store.ts

[code]

[2021-05-25 13:43] deadcoder0904 commented on #51
Oh, cool. Got it. And does rehydrate store mean it stores the data into **localStorage**? I did read the docs but don't completely understand the term?

Also, why doesn't **Clear Store Persist** button turn the **Store Persisting** to **Off**?

Bdw, a little nitpick if you want to improve the demo: CDN link to Semantic UI is slow so it shows HTML without styles. You might wanna keep it in the sand

[2021-05-25 14:10] sharon-laguna commented on #50
Hey, thanks for the quick reply and for working on this package!
I can't recreate it in codesandbox as I'm trying to create a PoC with React Native.
If you look at utils.ts, it seems that the recently added check for `Storage` is missing an import.

https://github.com/quarrant/mobx-persist-store/blob/e756ba326aab616fa8923eb56dd36cb4262b9467/src/utils.ts#L36

[2021-05-25 18:42] codeBelt commented on #51
The button "Rehydrate Store" (I just changed it to "Hydrate Store") will grab what is in **localStorage** and update the MobX store.

The way I have the "Clear Store Persist" button setup is to delete what is in **localStorage** with `clearPersistedStore`. I have the "Pause Store Persist" call `pausePersisting` and that will turn the Store Persisting to Off.

If you want to fork the demo and impro

[2021-05-25 18:45] codeBelt commented on #50
I will look into this. I haven't used this package in React Native. `Storage` is native to JavaScript but might not be supported in React Native.

@quarrant do you have experience in React Native and want to look at this also with me?

[2021-05-25 20:49] sharon-laguna commented on #50
@codeBelt
Checking if `Storage` is available, this seems to behave as expected in RN.
`const isStorageAvailable = typeof Storage !== 'undefined';`
...
`if (isStorageAvailable && value instanceof Storage) {...}`

[2021-05-26 06:35] deadcoder0904 commented on #51
Cool, got it, thanks. I'll add suggestions the next time I work with `mobx-persist-store` :)

[2021-05-26 06:35] #51 closed

[2021-05-26 08:01] #50 closed

[2021-05-27 02:45] rafaeldsousa opened #53 "IE11 support"
@codeBelt Any chance we could drop this to "es2015" to support ie11 ? I need ie11 support and currently that isn't happening.

[code]

https://github.com/quarrant/mobx-persist-store/blob/b4d3549582e3ce36f100aa4a9cac19c8edd38d4c/tsconfig.json#L3

[2021-05-27 21:24] #53 closed

[2021-05-27 21:28] quarrant commented on #53
@rafaeldsousa try v1.0.3

[2021-05-27 21:37] rafaeldsousa commented on #53
@quarrant I think you can keep module as is but you'll need to include both `target` and `lib` in the tsconfig. The es5 and esm2015 files haven't been transpiled in the lib folder and on my testing yesterday I could see that happening if I did not include those in the configs.

[code]

[2021-05-27 22:02] rafaeldsousa commented on #53
@quarrant ignore comment above, one of the apps in my mono repo was still targeting the earlier release and cause the issue I was having. Can confirm now that it is working on ie11 as expected.
Thanks a lot for the quick resolution.

[2021-06-02 05:01] rafaeldsousa commented on #43
@quarrant @codeBelt not sure if it's best to open a new issue, so thought of asking here first.
I have a store that has nested persistable properties.

Class 1 -> persists prop1
prop1 -> list of Class2
Class -> list of Class 3

After my stores are hydrated, everything comes back as a plain object and I loose all computed and actions in the nested classes (as those are not a class anymore and just

[2021-06-02 23:52] rafaeldsousa opened #55 "Persisting and hydrating nested/non-nested class objects-lists-maps"
As mentioned [here](https://github.com/quarrant/mobx-persist-store/issues/43#issuecomment-852723608). I'm having problems persisting lists of class objects-lists-maps (in a few cases those are nested with other class objects-lists-maps).

Referring back to the @pinqy520 [mobx-persist](https://github.com/pinqy520/mobx-persist) (RIP), I can see that this was a built in feature using [serializr](http

[2021-06-03 16:50] codeBelt commented on #55
Currently there is no new features in the works for anything.

The current work around as mentioned above is to create a custom storage adapter that has `setItem`, `removeItem`, and `getItem` methods. This allows you to modify the data before it hydrates the store.

Sample:

[code]

Maybe one of these libraries will help:

- https://github.com/typestack/class-transformer
- https://github.com/codeB

[2021-06-04 10:22] quarrant commented on #55
I don't think it is a good idea to add transformation logic inside the library. You can call plainToClass in `getItem` inside storage adapter.

[2021-06-04 11:23] Bort-777 opened #56 "`configurePersistable` not apply configuration globally"
Looks like `configurePersistable` don't apply storage property for all stores.

Example (28th line show that `makePersistable` work well):
https://snack.expo.io/@azfinstek/sandbox-react-native

[2021-06-04 11:50] rafaeldsousa commented on #55
I've roughly implemented a solution using serializr and seems to work well. Based on the same approach as mobx-persist has.
The thing would be implementing serialisation to all persistent properties. But then for the ones that are supposed to map back to a class we'd need an object with type and the targetClass. My current solution, which works, relies on including an addition decorator to the pro

[2021-06-04 13:25] codeBelt commented on #56
In you code I don't see anything calling `setupPersistable` which is why I think `configurePersistable` is not being setup correctly.

[2021-06-04 15:50] Bort-777 commented on #56
Yeah, my issue. Anyway in my code I found other corner case, I export mobx store class like singleton, but tried to call `configurePersistable` on root node after all imports.
Cool, thank you for lib

[2021-06-04 15:50] #56 closed

[2021-06-04 16:03] quarrant commented on #55
we will not use serializr because `mobx-persist-store` is marketed as a lightweight persist implementation. Without using heavy transformations.

We need found other solution

[2021-06-04 20:27] rafaeldsousa commented on #55
Completely understand your point, serializr would add quite a bit of weight to the library.

My thinking here is that even though we have a lightweight persist store library, it lacks the ability needed for a little more than just plain properties usage as I've presented above, the data structure isn't too complicated.

From the usage we've been having this data structure became quite common, but

[2021-06-04 21:01] quarrant commented on #55
I think you can do it in storage adapter.

I don’t want add some custom transformations, because code will be hard and will have a magic.

[2021-06-04 21:10] rafaeldsousa commented on #55
How would it work in the Storage Adapter, with the classes and subclass (nesting) ? Would we have to map all in the persist declaration ? Having to know what are the classes and subclasses of the nest at the parent level seems quite a bit of a hassle.

Not sure about how hard the code would have to be, but can understand magic, as in things we don't know how it work and just happen.

[2021-06-04 22:08] codeBelt commented on #55
@rafaeldsousa Looking at your example. Why does your sub classes have their own `makeAutoObservable` in them? I could be wrong but when you have your top level class call `makeAutoObservable` and then add items to an array become observed and not need their own `makeAutoObservable`.

I am working on an example showing how to use a custom storage adapter to re-create plain objects into class but I

[2021-06-04 22:28] rafaeldsousa commented on #55
@codeBelt that was just residual copy and paste that I haven't deleted. No actual need `makeAutoObservable` in the subclasses.

I think I'll sadly have to revert back to `mobx-persist` and use a fork (as it hasn't been maintained for quite a while and that's why I was on the look out for an alternative) in which I upgrade the dependencies. That one seems to be the only lib that actually covers my

[2021-06-08 14:44] codeBelt commented on #55
@rafaeldsousa looks like `mobx-persist` is best for your apps.

I put together an example how to convert the persisted data back into classes with the current version of `mobx-persist-store`.
https://codesandbox.io/s/mobx-persist-store-hydrate-classes-3wmkg?file=/src/stores/User.store.ts

I agree with @quarrant in not adding a built in transformation layer within the library. Maybe the library cou

[2021-06-08 21:38] rafaeldsousa commented on #55
@codeBelt Yep, in this case I'll have to use `mobx-persist`, which I didn't want as the module has been unmaintained for a while, but that will have to do it for now.

In terms of what you've presented, I've had that at some point in my fork of `mobx-persist-store`, but I've ran into issues with the subclasses, as the persistence wasn't defined in the same class. I was doing something pretty simil

[2021-07-21 16:44] dgdosen opened #58 "Should I be able to persist an ObservableMap as a property?"
https://mobx.js.org/api.html#observablemap - similar to an array, but having a key for each object.

I get an error when I try to persist a map as a property.

I don't have the issue using a plain old array...

[2021-07-22 18:28] quarrant commented on #58
I’ll check it

[2021-07-28 03:14] ducNgbk opened #59 "How to support data versioning?"
Hi, how can I support versioning of my data?

For example
[code]

then in future, I increase **1.0.0** to **1.1.0**, my persisted properties will be initialized again (not getting data from previous version)

I know, this library has
[code]
But I don't know exactly when I will change my properties structure

[2021-07-28 14:28] kubk commented on #59
What if you just rename the key? Example:
[code]

Would it work out?

[2021-07-28 14:52] quarrant commented on #59
@kubk yep, you'll right

[2021-07-28 15:31] ducNgbk commented on #59
@kubk brilliant, thanks very much, you rock it

[2021-07-28 15:31] #59 closed

[2021-08-31 09:08] SrBrahma opened #64 "How to deal with Fast Refresh on React Native?"
I have makePersistable in my init(), so I can await it, to have the values loaded before moving on.

But, on fast refresh, on React Native, it will trigger a warn that makePersistable was called with the same name.

I have tried using `if (!isPersisting(this))` and then makePersistable, but it won't always work for some reason.

Does anyone have experience and a workaround for this issue?

[2021-08-31 09:13] SrBrahma commented on #64
It would be good if there was a function that had the same lines found on

https://github.com/quarrant/mobx-persist-store/blob/b4be7da482423a74bc8d83d206f6904ffdb94178/src/makePersistable.ts#L13-L15

[2021-08-31 09:20] SrBrahma commented on #64
![image](https://user-images.githubusercontent.com/28177550/131477168-6fcb4bf8-c8c3-4bef-9c46-cf69aa3d2b83.png)

[2021-09-17 15:41] #55 closed

[2021-09-20 19:59] #58 closed

[2021-10-08 09:39] n1xn opened #66 "window.sessionStorage weird behaviour on refreshes"
Hi @quarrant, thank you very much for your efforts with this lib!

I have found some weird behaviour after refreshing the site, the store is still hydrated with the correct data but the actual component do not render its actual condition anymore (without refreshing the site the component is visually active).  The condition I am talking about is called `isSelected` within `Component.tsx` and it app

[2021-10-29 15:02] hartum opened #67 "reaction in a different tab"
Hi, congrats for the library is really great

I was wondering if it is possible to write in the store from one tab of the browser (mysite.com) and trigger the reaction from a different tab (mysite.com/test)?

Any idea about how to face this?

[2021-11-08 03:33] 10000multiplier opened #68 "Example with functional components?"
Hi,

It seems that all the examples are with class components.

How would you go about getting `mobx-persist-store` to work with a functional component?

Thank you.

[2021-11-12 09:19] quarrant commented on #68
Hi!

What it https://github.com/quarrant/mobx-persist-store#demo

[2021-11-12 18:06] codeBelt commented on #68
@10000multiplier I think this would work but I never tried it out:

[code]

[2021-11-12 18:58] 10000multiplier commented on #68
@codeBelt thanks!

Also on an unrelated note, do you happen to know if this library be used with `mobx-state-tree`?

[2021-11-12 19:02] codeBelt commented on #68
Never used `mobx-state-tree` but let us know how it works.

I have my own way of working with MobX https://github.com/codeBelt/mobx-local-global-stores

[2021-11-16 13:05] quarrant commented on #68
Heh, it's really simple https://codesandbox.io/s/vibrant-frog-iud38?file=/src/App.tsx

[2021-11-16 15:32] 10000multiplier commented on #68
@quarrant wow thanks, just what I needed!

[2021-11-16 22:24] 10000multiplier commented on #68
@quarrant is there also a way to do this with `configurePersistable` ?

[2021-11-17 00:01] angelxmoreno commented on #68
@10000multiplier look for all instances of `makePersistable` and verify you are not reusing the same name prop

[2021-11-17 00:02] angelxmoreno commented on #68
oh wait, you are using react-native. There is some sort of bug that makes hot-reload run certain parts of your code twice. This is not an issue with this lib but hot-reload.

[2021-11-17 01:09] 10000multiplier commented on #68
@angelxmoreno aww okay. Sounds like I don't have to worry about it too much then.

[2021-11-17 01:38] angelxmoreno commented on #68
@10000multiplier follow #64

[2021-11-17 01:42] 10000multiplier commented on #68
@angelxmoreno thanks

[2021-11-23 15:34] #68 closed

[2021-11-25 07:23] n1xn commented on #66
Sorry for the late response, the error was on my end! I was able to identify the issue after your example, as I did not use a global state for the initialization of the store via `useState` (myStore).

**RootStore**
[code]

**_app**
[code]

[2021-11-25 07:23] #66 closed

[2021-12-13 21:48] #67 closed

[2021-12-14 07:31] hartum commented on #67
That worked for me, thank you very much

[2021-12-22 15:51] sergeykimaia opened #69 "stringify:false doesnt work with @react-native-async-storage/async-storage"
I've been trying to get a Map inside A map running, and the interior map kept returning [string,object]

thought it was due to me having stringify false

however with stringify:true I'm getting an uncaught exception and a crash

[2021-12-23 10:27] sergeykimaia opened #70 "modifying array data inside of a Map doesnt work"
code blocks reproduction: https://codesandbox.io/s/mobx-persist-store-version-1-forked-5ui54?file=/src/App.tsx

clicking on adduser1 adds a user
clicking on adduser2 modifies that user, check console and you'll see debug not triggered

[2022-01-04 07:01] BigTomM opened #71 "Does this lib support mobx5?"

[2022-01-10 09:15] ksailens opened #72 "Compile error with mobx@6.3.12"
Hi!
Have compile error with mobx-persist-store@1.0.4 and mobx@6.3.12
`mobx-persist-store/lib/esm2017/makePersistable.d.ts(5,98): error TS2314: Generic type 'IReactionOptions' requires 2 type argument(s).
`
on mobx@6.3.2 all works fine

[2022-01-12 19:23] quarrant commented on #71
Why not?)

[2022-01-15 12:21] negati-ve opened #73 "mmkv storage support"
Hi,

Is it possible to support https://github.com/ammarahm-ed/react-native-mmkv-storage ?
on RN, mmkv produces a far superior result than localforage

[2022-01-18 10:38] quarrant commented on #73
Why not? You can write yours implementation of interface https://github.com/quarrant/mobx-persist-store/blob/master/src/types.ts#L38

[2022-01-22 13:16] Navipro70 commented on #73
From `rn-mmkv` docs: [asd](https://github.com/mrousavy/react-native-mmkv/blob/master/docs/WRAPPER_MOBX.md)
But `rn-mmkv-storage` set's values by types, just add typeof condition for set for every type. I don't know is `rn-mmkv-storage` supports getting any non type based value, if isn't, I simply suggest you to use `react-native-mmkv`, or just set and get values with JSON parsing

I hope my info h

[2022-02-24 13:39] PavanGangireddy commented on #70
Same issue with observable.array([])

[2022-02-26 07:47] #71 closed

[2022-02-27 11:18] quarrant commented on #69
Hi! Show me your code

[2022-02-27 18:01] #72 closed

[2022-03-01 10:05] quarrant commented on #70
mobx-persist-store@1.0.6

[2022-03-01 11:14] quarrant commented on #73
Show me an example and I'll help you with typings

[2022-03-14 09:36] JiquanWang99 opened #79 "MakePersistable can't get the private propertys in mobx store"
Below is the code

[code]

[2022-03-14 09:43] JiquanWang99 commented on #79
The private properties can't be accessed by outside of the library. But I think the makePersistable API should provide a way to get the private state.
Like this:

[code]

[2022-03-14 09:59] quarrant commented on #79
Hey

Honestly I didn't think about it. It's interesting... I will try to find solution

[2022-03-28 20:57] codeBelt commented on #79
I don't understand the issue. In the first code example you are persisting `properties: ['state']` which is a `private` property on the class. The `private` property works in the the example below:

https://codesandbox.io/s/private-property-example-ok2hmv?file=/src/stores/User.store.ts

In the your second example you have `properties: [getAllState]` which I think you forgot the quotation marks `pr

[2022-03-28 21:03] codeBelt commented on #79
Hmmm, not sure how to fix that.

[2022-03-28 21:34] quarrant commented on #79
Nope. The property labeled `private` doesn't excluded from watched properties, because makePersistable works inside the class and has access to the all properties.

I'm not sure, but I think @JiquanWang99 have a problem with understanding how it works. `makePersistable` couldn't watch computed or action properties, it works only with observable properties.

Anyway, let me know what is your version

[2022-04-02 08:44] JiquanWang99 commented on #79
The version **mox-persist-store**  in my project is "^1.0.6", and the DEFAULT_STATE is
[code]

And this is working for me， but when I add a `private` preffix before the state, it doesn't work anymore.
[code]

[2022-04-02 08:53] JiquanWang99 commented on #79
@codeBelt  You are right, what you said is my problem.

[2022-04-02 20:27] quarrant commented on #79
@JiquanWang99 So... I wrote a small example with private state and it has worked ([example](https://codesandbox.io/s/lucid-johnson-dyeqlc?file=/src/App.tsx)). Anyway could you show me a full code?

[2022-04-07 08:41] JiquanWang99 commented on #79
@quarrant  It can work but TypeScript still has an complain when compling...

[2022-04-07 15:24] quarrant commented on #79
@JiquanWang99

I just didn't spend a time for the right types. Unfortunately, I don't have any idea how I can infer private type from a class because it's not a enumerable.

Anyway, you may use `@ts-ignore` and define public accessor to the private state. I'm sure It helps.

[code]

[2022-04-08 15:47] JiquanWang99 commented on #79
@quarrant  Thanks, that's OK.

[2022-04-12 11:28] #79 closed

[2022-05-04 06:35] stberger3040 commented on #79
In mobx package (e.g. `makeObservable`), they solved it by letting the user pass additional properties, if they are private, see https://github.com/mobxjs/mobx/blob/main/packages/mobx/src/api/makeObservable.ts#L26

[2022-05-04 06:58] quarrant commented on #79
@stberger3040 It's not a solution to access to private properties in the object.

[2022-05-11 03:49] genesst opened #81 "Persisting domain object with a dependency on parent store"
What's the preferred pattern to follow in the case of persisting a store with one to many relationship to its dependent domain objects?

E.g. example store
[code]
And its domain items:
[code]

In this example it'd throw the following error when persistence is triggered:
[code]

[2022-05-11 15:33] codeBelt commented on #81
This is similar to https://github.com/quarrant/mobx-persist-store/issues/41 where you are trying to save a [Map Object](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Map) with references to classes. So basically you are doing this:

[code]

`JSON.stringify` is trying to convert all the objects to [JSON](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Refe

[2022-05-11 15:57] quarrant commented on #81
@codeBelt Thank you for your explanation. It's a problem with circular dependencies and architecture. If you want to do resolve this just remove circular dependencies.

For example, if you want create relation between to classes you may do it with any primitive identifier

[code]
This example uses an architecture without circular dependencies. I hope it helps you =)

[2022-05-12 05:35] genesst commented on #81
Is it possible to exclude a property on the class level from being persisted? e.g. `makeAutoObservable(this, { rootStore: false });` as an example in 'mobx'.

It'd be great if there'd be a similar functionality, e.g. in `Product`:
[code]

[2022-05-12 05:37] quarrant commented on #81
Nope, but I’ll think about it

[2022-05-12 06:36] genesst commented on #81
Is there a way to perform a dynamic check on persistance? e.g. in `isPersisting`?

[2022-05-12 06:54] quarrant commented on #81
`isPersisting` checks only top-level objects, not each nested level. We didn’t do this kind of work because it may be a really hard work.

For example, if I have a nested array with nested objects there are each object has a nested array I need to loop each array to find which property I want to exclude before persisting…

Anyway, I think your case is a good example what we couldn’t do with this l

[2022-06-02 21:07] codeBelt opened #82 "[Feature] Prevent `hydrateStore` call when `makePersistable` is called"
I think there might be situation where you don't want the observable to hydrate right away when `makePersistable` is called.

For example in my application the user can send another user a url with query params so the page will be configured from the query params and not the persisted data.

We could determine if there is query params and wrap `makePersistable` in a `if` statement like this:

[cod

[2022-06-02 22:07] quarrant commented on #82
I didn’t think about this case before, but in your example it seems like a good idea)

Honestly, `preventInitialHydration` looks like something hard for understanding (maybe I mistake here) and I offer you other name - `autoHidrate`

[2022-06-03 02:57] codeBelt commented on #82
I like the name `autoHydrate`. I will probably work on a PR this weekend and you can see what I come up with. First I think I am going to write more tests so I don't mess things up.

[2022-06-09 22:36] corinnaSchultz opened #84 "[Feature]Option to disable console warning messages"
I have a reason to want to use a getter in my list of properties.  It would be nice to be able to suppress the warnings that result: "The property X is computed and will not persist:"

My use case:
I have a private property that basically tracks the result of a computed, and I want to persist that property.  When the store is hydrated, I use this property to decide whether some other initializatio

[2022-06-10 15:11] codeBelt commented on #84
Can you create a [codesandbox](https://codesandbox.io/) example so we can see the issue.

[2022-06-11 10:32] RyoukoKonpaku opened #85 "[Feature] Properties array to accept a value converter object with serialize / deserialize functions"
Related issue #81. To allow domain objects to be persisted and hydrated that has circular references or overall have more control on how it's gonna end up in storage. While this can be done currently using a custom storage adapter, it's much more dev friend to control serialization per property than handling the whole object.

Assuming you have a domain object and Store like this.

[code]

You cou

[2022-06-16 19:13] codeBelt commented on #85
@RyoukoKonpaku I had a similar idea https://github.com/quarrant/mobx-persist-store/issues/55#issuecomment-856830645

I think it will help make the library more flexible without adding a built in transformer. I can look into it but it will be some time before I can.

[2022-06-22 12:13] sergeykimaia commented on #64
doing this will make it so isHydrated returns false

[2022-06-22 12:29] sergeykimaia commented on #64
I don't think it's related.
currently in react native after editing code fast refresh will reload the store but not remove the store from PersistStoreMap

[code]

do you think this is an ok solution?

[2022-06-22 12:49] sergeykimaia commented on #64
yeah its basically the same as React hot reload, I would like to prevent the warning from showing because my 'PersistStoreMap' size quickly grows since I have several stores in my project, and every time I save it adds 4 more into PersistStoreMap

[2022-06-22 15:50] sergeykimaia commented on #69
App.tsx:
[code]

rootStore.tsx:
[code]

useStores.tsx:
[code]

[2022-06-24 13:30] quarrant commented on #85
It looks easy but.... I spent 3 or 4 hours to create something like serialize/deserialize functions and I can say that it's possible. But so far I couldn't create right typings for these interfaces through all code...

[2022-06-24 17:40] Rahilkzi opened #86 "UnhandledRejection Error"
###  NextJs

![16560922659264222399876512734983](https://user-images.githubusercontent.com/44476072/175613490-010cb03f-062d-47fe-a865-c7bc246a0671.jpg)

error - UnhandledRejection: Error: No available storage method found.

[2022-06-25 18:14] codeBelt commented on #86
Can you create a [codesandbox](https://codesandbox.io/) example so we can see the issue. This way it will be easier for use to troubleshoot.

[2022-06-25 18:22] codeBelt commented on #64
I wonder if we change the `PersistStoreMap` from a [Map](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Map) to a [WeakMap](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/WeakMap) if that will fix the issue when developing. I can look into this.

@quarrant can you re-open this issue?

[2022-06-26 19:17] Rahilkzi commented on #86
### CodeSandBox

[https://codesandbox.io/s/upbeat-visvesvaraya-mm052j?file=/pages/store/TodoStore.js](url)

[2022-06-27 11:50] codeBelt commented on #86
@Rahilkzi If you have an app that is Server-side rendering (SSR) you can set the storage value `undefined` to prevent errors.

[code]

Also if you are working with MobX and Next.js make sure you are using [enableStaticRendering](https://mobx.js.org/react-integration.html#static-rendering) in your `_app.tsx`.

[code]

Let me know if that fixes the issue.

[2022-06-27 13:31] #86 closed

[2022-06-29 14:42] RyoukoKonpaku commented on #85
@codeBelt I definitely think it would. And yeah overall that comment on #55 definitely is similar to what I'd want.

@quarrant Thanks for looking into it, I have a fork with the feature and yeah I agree it's pretty hard to make the typings work as intended for the `serialize` / `deserialize` functions. Currently the fork it's typed as `any` as an escape hatch but I'll probably try take another sta

[2022-07-07 05:01] jtwigg opened #87 "[Question] Does this observe changes recursively in Mobx"
Mobx is great for only observing changes for things I care about at the "leaf" notes and not bubbling of observe events for the root nodes.

but for serialization, I need the opposite: If anything in the object graph changes, I want to queue a serialization event (albeit with `_.throttle` enabled)

**Does this library persist to local storage if ANYTHING changes in the graph?**

[2022-08-13 02:19] nathan-alden-sr opened #89 "Is better encapsulation of entity properties possible?"
Normally, most examples and such describe entities that have public mutable fields, like this:
[code]
The issue with this is it violates encapsulation by exposing internals to callers. I'm wondering if MobX supports a classic DDD design like this that encourages mutation through methods and not by modifying fields directly:
[code]

[2022-08-13 02:36] nathan-alden-sr commented on #89
After testing the above implementation, it seems it does work! Despite the `Todo` constructor providing limited options for the developer to supply initial values, `mobx-persist-store` is able to persist all the underlying fields automatically.

Also, it seems like `makeAutoObservable` ignores private fields that are never exposed through otherwise-observed members. In this screenshot, I'm setting

[2022-08-13 03:39] nathan-alden-sr commented on #89
I discovered that I could provide my own `StorageController` to `makePersistable`. Unfortunately, no matter what signatures I use for the three methods, `mobx-persist-store` keeps reporting:

[code]

I investigated the internal `isStorageControllerLike` function [here](https://github.com/quarrant/mobx-persist-store/blob/25bab48a8c8ef11dff0466d3f1e3295c0e8e9acc/src/utils.ts#L35) and it seems like i

[2022-08-13 13:38] nathan-alden-sr commented on #89
I was able to work around this by defining the functions as non-`async`:

[code]

Optimally, the library would natively support asynchronous functions since libraries like localForage are very popular.

[2022-08-13 15:32] nathan-alden-sr commented on #89
Closing this because my questions have changed.

[2022-08-13 15:32] #89 closed

[2022-08-22 21:56] nathan-alden-sr opened #91 "[Feature] Support asynchronous StorageController functions"
I created a simple object that conforms to `StorageController`:

[code]

Then I provide this object to mobx-persist-store during initial configuration:

[code]

You can see how I have to disable the `@typescript-eslint/promise-function-async` lint rule. This is because mobx-persist-store will error if I pass anonymous functions for my `StorageController` methods. This is inconvenient as it forces

[2022-08-22 22:34] nathan-alden-sr opened #92 "[Question] Can I serialize and deserialize class instances instead of objects?"
I define entity classes like so:

[code]

and a store for them like so:

[code]

Unfortunately, mobx-persist-store doesn't seem to support this because there doesn't seem to be an elegant way for me to e.g. use a library like [class-transformer](https://github.com/typestack/class-transformer) to convert the array of plain objects stored by the store into an array of class instances. I'm trying to

[2022-08-22 23:40] nathan-alden-sr commented on #92
I managed to get this working:

[code]

This works in TypeScript strict mode. However, I am still wondering if there is a better solution.

[2022-08-30 18:55] #91 closed

[2022-08-30 19:23] #85 closed

[2022-08-30 19:27] quarrant opened #94 "Add documentation about SerializableProperties in v1.1.0"

[2022-08-30 19:33] #94 closed

[2022-08-30 19:35] quarrant commented on #92
@nathan-alden-sr I added serializable properties in version 1.1.0, please try it https://github.com/quarrant/mobx-persist-store#example-with-serializableproperties

[2022-08-31 11:36] PeterJSung opened #95 "[BUG] version 1.1.0 package is empty"
when we install mobx-persist-store (v 1.1.0), there is no module definition in esm.* folder.

definition file is located in lib/esm*/src folder, and esm root has only fake library.

thank you.

![스크린샷 2022-08-31 오후 8 33 49](https://user-images.githubusercontent.com/14996546/187669561-8524cd76-dd5d-4f9e-a4f1-d52f54243a3f.png)

[2022-08-31 11:46] tobua commented on #95
Just ran into the same issue after updating. Looks like this has happened because a new TS file called `setup-fake-timers.ts` has been added to the root and now the contents are published with an additional `src` folder, see here on [unpkg](https://unpkg.com/browse/mobx-persist-store@1.1.0/lib/esm2017/).

I don't see the file being used, maybe it can be removed. Otherwise moving it into src or ada

[2022-09-01 08:28] quarrant commented on #95
Thank you. This bug was fixed in version 1.1.2

[2022-10-09 19:46] #95 closed

[2022-10-25 21:01] corinnaSchultz commented on #84
I found a better design for my original issue, so this request can be disregarded.

[2022-10-25 21:01] #84 closed

[2022-11-23 14:57] viktorgullmark opened #96 "Warning: Store does not have a valid storage adaptor"
Hey! Thanks for the great package.

Got a pretty annoying warning though after following the examples. Using latest mobx and getting the following:

![image](https://user-images.githubusercontent.com/11405940/203578179-ae70dbc6-b598-4193-806d-1c02924cf703.png)

App.tsx
[code]

AuthStore.ts
[code]

It seems strange that these properties are required on a store, am I missing something or is there a